@import "../../../theme//colors.scss";
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.no-padding-bottom {
  padding-bottom: 0;
  margin-bottom: -15px;
}

.block-title {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  margin-left: 11px;

  .icon {
    color: $orange;
    position: relative;
    top: 3px;
  }
}

.featured {
  background: $orange;
  border-radius: 5.5px;
  color: $white;
  font-size: 11px;
  padding: 0 5px;
  box-shadow: 0px 2px 6px 0px rgba(240,125,7,1);
  position: relative;
  top: -7px;
}