@import "../../theme/colors.scss";
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: left;
  position: absolute;
  left: 0;
  right: 0;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.with-padding {
  padding: 0 15px;
}

.logo-image {
  position: absolute;
  top: 19px;
  left: 50%;
  transform: translateX(-50%);
}

.icon-notifications {
  position: absolute;
  top: 7px;
  right: 15px;
  color: $orange;
  background: $black;
  padding: 8px;
  border-radius: 50%;
  box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.75);
}

.bullet-notification {
  width: 6px;
  height: 6px;
  position: absolute;
  top: 13px;
  right: 18px;
  background: #7df0d3;
  border-radius: 50%;
}


ion-menu-button {
  color: $white;
}


ion-header {
  background: $primary !important;
}

.toolbar-background {
  display: none;
}

ion-slide {
  position: relative;
  overflow: hidden;

  .image-shadow {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: $black, $alpha: 0.6);
    transition: all 0.3s;
    
    &:hover {
      background: rgba($color: $orange, $alpha: 0.6);
    }

    .profile-image {
      text-align: right;
      display: flex;
      align-items: center;
      margin-left: 33%;
    }

    .text {
      font-family: 'Oswald', sans-serif;
      margin: auto 0;

      &.training {
        position: absolute;
        bottom: 10px;
        left: 10px;
        color: $orange;
      }

      .title {
        font-size: 18px;
        margin-bottom: 5px;
      }
    }


    .profile-image {
      .icon {
        vertical-align: middle;
        font-size: 36px;
      }
    }
  }
}


#container {
  .banner-home {
    height: 165px;
    background: $primary;
    border-radius: 0 0 50px 50px;
    padding: 10px 30px;

    .wrapper {
      display: flex;
      flex-direction: row;
      margin-bottom: 20px;
      
      .profile-image {
        text-align: right;
      }

      .text {
        font-family: 'Oswald', sans-serif;
        flex: 2 0 0%;
        margin: auto 0 auto 15px;

        .name {
          font-size: 18px;
          margin-bottom: 5px;
        }
  
        .level {
          color: $purple;
          font-size: 14px;
          margin-top: 0;
        }
      }
    }
    .profile-image {
      img {
        vertical-align: middle;
        max-width: 100%;
        max-height: 300px;
        border-radius: 50%;
      }
    }

    .container-body-goals {
      width: 80%;
      max-height: 50px;
      padding: 8px 0px;
      font-family: 'Oswald', sans-serif;
      background: $gray-md;
      color: $orange;
      margin: 0 auto;
      border-radius: 25px;
      text-align: center;
      box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.75);

      .btn-home {
        color: $orange;
        font-size: 12.5px;
        
        .icon {
          border: 1px solid $orange;
          border-radius: 50%;
          padding: 2px;
          position: relative;
          top: 4px;
        }
      }
    }
    
  }

  .no-padding-bottom {
    padding-bottom: 0;
    margin-bottom: -15px;
  }

  .subtitle {
    width: 140px; 
    height: 1px;
  }

  .block-title {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    margin-left: 11px;

    .icon {
      color: $orange;
      position: relative;
      top: 3px;
    }
  }
}

